<div class="container" id="home-container">
  <div id="home-left" class="col-md-5">
    <h3 class="sub-header">Damaged Packages</h3>
    <div id="laser-ticket">
      <table id ="ticketTable" class="table table-hover table-responsive header-fixed-query">
        <thead>
          <tr>
            <th>ID</th>
            <th>Handled</th>
          </tr>
        </thead>
        <tbody>
          <tr class="empty">
            <td class="empty"></td>
            <td class="empty"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="home-right" class="col-md-7">
    <h3 class="sub-header">Overview</h3>
    <div id="home-right-content">
      <div id="chart_div"></div>
      <div id="leftContent">
        <h5>Current LASER Tickets</h5>
        <p>{{laserTickets}}</p>
        <h5>Current Damaged Tickets</h5>
        <p>{{damagedTickets}}</p>
        <h5>Current Orders</h5>
        <p>{{totalOrders}}</p>
      </div>
      <div id="rightContent">
        <h5>Overall Package Health Index</h5>
        <p>{{healthIdx}}</p>
        <h5>Customer Relationship Management Index</h5>
        <p>{{crmIdx}}</p>
      </div>
      <div class="break"></div>
    </div>
  </div>
</div>